<div class="w-full py-4 px-10 bg-gray-200">
  <div class="flex gap-12">
    <div><h4>Real-Time-Cart</h4></div>
    <div>
      <a href="/carts" id="addtocart">
        <i class="fa-solid fa-shopping-cart">
          <sup class="bg-blue-300 rounded-full text-xs text-white px-2 py-1 hover:opacity-75">
            <%= render '/carts/headerinfo' %>
          </sup>
        </i>
      </a>
    </div>
  </div>
</div>
